<nav class="navbar navbar-light" style="background-color:#fff">
    <a class="navbar-brand">
      <img src="../assets/toplogo.svg" width="30" height="30" class="d-inline-block align-top" style="fill: #fff;" alt="">
      Todoアプリケーション
    </a>
</nav>
<div class="col-md-9 col-12 mx-auto">
      <div class="input-group my-4">
          <input #inItem type="text" class="form-control" placeholder="今日の予定を入力しよう！" (keyup.enter)="addItem(inItem.value)" id="itemInput" [(ngModel)]="inputValue">
          <span class="input-group-btn">
            <button class="btn btn-outline-info" (click)="addItem(inItem.value)">追加</button>
          </span>
        </div>
</div>
<div class="col-md-9 col-12 mx-auto">
  <ul class="list-group">
    <div *ngFor="let i of lists">
        <li class="todo-item-group todo-item" *ngIf="!i.finished_flag" [@labelState]="i.state" (mouseenter)="mouseEnter(i)" (mouseleave) ="mouseLeave(i)">
            <label (click)="selectClick(i)" (click)="listservice.open(content)">{{i.content}}</label>
            <span class="input-group-btn">
            <button class="btn btn-outline-info" (click)="finishClick(i)">完了</button>
            </span>
        </li>
    </div>
  </ul>
</div>
<!-- <test- [item]="selected"></test-list> -->
<!-- <edit-modal [item]="selected" (edited)="onedited($event)"></edit-modal> -->
